html {
    background: #e3e3e3;
}
body {
    background-color: darkgray;
    font-family: 'Times New Roman', Times, serif;
    margin: 40px;
    padding: 40px;
    border-top: 10px solid;
h1 {
    font-size: 3em;
margin: 0;
}
p {
    line-height: 1.4em;
}
#Blog {
background-color: dimgray;
}
.blog-post{
font-size: large;
color: white;
}
.img-cont {
    background: grey;
    float: left;
    margin-right: 20px;
}
ul {
    display: flex;
    font-size: x-large;
}
nav{
position: sticky;
margin: 100px;
    top:100px;
    left: 50px;
    background: black;
}
a {
    color: #e3e3e3;
    padding: 20px;
    margin:20px;
}
form{
    display: flex;
}
#list{
    display:flex;
    background: rgb(139, 124, 124);
}
.list{
    padding: 20px;
}