html {
    background: #e3e3e3;
}
body {
    background-color: darkgray;
    font-family: 'Times New Roman', Times, serif;
    margin: 40px;
    padding: 40px;
    border-top: 30px solid;
h1 {
    text-align: center;
    font-size: 3em;
margin: 0;
}
p {
    line-height: 1.4em;
}
#Blog {
background-color: dimgray;
}
.blog-post{
font-size: large;
color: rgb(24, 24, 24);
}
.img-cont {
    background: grey;
    float: left;
    margin-right: 20px;
    padding: 20px;
    text-align: center;
      margin: 0 auto;
}
#nav {
    width: 50%;
    text-align: center;
    margin: 0 auto;
    border: 1px solid black;
}
img{
   display: block;
  margin: auto;
  max-width: 100%;
}
ul {
    display: flex;
    font-size: x-large;
    list-style-type: none;
}
li{
    display: inline-block;
    padding: 10px 20px;
}
nav{
position: sticky;
margin: 100px;
    top:100px;
    left: 50px;
    background: black;
      width: 50%;
      margin: 0 auto;
      text-align: center;
}
a {
    color: #e3e3e3;
}
form{
    display: flex;
}
#list{
    display:flex;
    background: rgb(139, 124, 124);
    background-size: 2em;
}
.list{
    padding: 30px;
    margin: 30px;
    width: 50%;
      margin: 0 auto;
}
h3{
    font-size: xx-large;
    text-align: center;
}
table{
      margin: 0 auto;
}
header{
    justify-content: space-between;
}
th{
padding: 20px;
}
td{
padding: 20px;
}

@media screen and (min-width: 600px){
    form{
        display: flex;
    }
}
@media screen and (max-width: 1200px){
    header {
        background: #ececec;
    }
}